* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    height: 70px;
    width: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.search-box__input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #242628;
    color: #fff;
    padding: 20px 100px 20px 20px;
    font-size: 30px;
}
.search-box__btn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.search-box__btn i {
    font-size: 30px;
    font-weight: 900;
}

.search-box.open {
    width: 400px;
}

